*{
    margin: 0;
    padding: 0;
}

#gatinhos {
    height: 80px;
    background-color: rgba(0, 255, 255, 0.452);
    margin: 0 auto;
}

#raças {
    width: 20%;
    height: 600px;
    background-color: rgba(255, 0, 149, 0.5);
    float: left;
    margin: 0 auto;
}

#informações {
    width: 80%;
    height: 600px;
    background-color: rgba(242, 255, 127, 0.719);
    float: left;
    margin: 0 auto;
    margin-bottom: 10px;
}

#frase {
    height: 50px;
    background-color: rgba(0, 255, 0, 0.541);
    clear: both;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}