*{
    margin: 0;
    padding: 0;
}

#gatinhos {
    height: 100px;
    background-color: aqua;
    margin: 0 auto;
}

#raças {
    width: 20%;
    height: 600px;
    background-color: aqua;
    float: left;
    margin-top: 10px;
}

#informações {
    width: 80%;
    height: 600px;
    background-color: aquamarine;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#frase {
    height: 50px;
    background-color: aqua;
    clear: both;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}